rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /playlists/{playlistId} {
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    match /songs/{songId} {
      allow read, update, delete: if request.auth != null &&
        get(/databases/$(database)/documents/playlists/$(resource.data.playlistId)).data.userId == request.auth.uid;
      allow create: if request.auth != null &&
        get(/databases/$(database)/documents/playlists/$(request.resource.data.playlistId)).data.userId == request.auth.uid;
    }
  }
}
